extends ./layout

block head
	title Authenticate
	script(src='/static/bundle.js')

block body
	h1 You need to authenticate
	if needInitialRegister
		button#initialRegister Register initial security key
	else
		button#login Authenticate